dash==1.9.0
dash-daq==0.3.3
plotly==4.5.0
Flask==1.1.1
gunicorn==20.0.4
Flask-Caching==1.9.0
filelock==3.0.12
netifaces==0.10.9
requests==2.23.0
jsonschema
dash-bootstrap-components==0.10.5
dash-extensions==0.0.47