/* Font styles */

.section-title-text {
    /*font-weight: bold;*/
    color: darkgreen;
    margin-bottom: 2px;
}

.property-title {
    font-weight: bold;
    margin-bottom: 0rem;
}

.big-text {
    font-size: 3rem;
    font-weight: bold;
}

.large-text {
    font-size: 8rem;
    font-weight: bold;
    line-height: 60px;
}

.btn-group-lg>.btn {
    padding: 0.5rem 1rem;
    font-size: inherit;
    line-height: 1.5;
    border-radius: 0.3rem
}

/* END OF FONT STYLE */

/* Borders */

.border-round {
    border: 1px solid #ccc !important;
    border-radius: 2px;
}

/* END OF BORDERS */

/* TOGGLE SWITCH */

/* The switch - the box around the slider */

.switch {
    position: relative;
    display: inline-block;
    width: 50px;
    height: 24px;
}

/* Hide default HTML checkbox */

.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

/* The slider */

.slider-toggle {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .2s;
    transition: .2s;
}

.slider-toggle:before {
    position: absolute;
    content: "";
    height: 20px;
    width: 20px;
    left: 2px;
    bottom: 2px;
    background-color: white;
    -webkit-transition: .2s;
    transition: .2s;
}

input:checked+.slider-toggle {
    background-color: #5ec00d;
}

input:focus+.slider-toggle {
    box-shadow: 0 0 1px #5ec00d;
}

input:checked+.slider-toggle:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
}

/* Rounded sliders */

.slider-toggle.round {
    border-radius: 20px;
}

.slider-toggle.round:before {
    border-radius: 50%;
}

/* END OF TOGGLE SWITCH */

/* START OF SIGNAL STRENGTH INDICATOR */

.sizing-box {
    height: 50px;
    width: 80px;
}

.signal-bars {
    display: inline-block;
}

.signal-bars .bar {
    width: 14%;
    margin-left: 1%;
    min-height: 20%;
    display: inline-block;
}

.signal-bars .bar.first-bar {
    height: 20%;
}

.signal-bars .bar.second-bar {
    height: 40%;
}

.signal-bars .bar.third-bar {
    height: 60%;
}

.signal-bars .bar.fourth-bar {
    height: 80%;
}

.signal-bars .bar.fifth-bar {
    height: 99%;
}

.good .bar {
    background-color: #16a085;
    border: thin solid darken(#16a085, 7%);
}

.bad .bar {
    background-color: #e74c3c;
    border: thin solid darken(#e74c3c, 20%);
}

.ok .bar {
    background-color: #f1c40f;
    border: thin solid darken(#f1c40f, 7%);
}

.four-bars .bar.fifth-bar, .three-bars .bar.fifth-bar, .three-bars .bar.fourth-bar, .one-bar .bar:not(.first-bar), .two-bars .bar:not(.first-bar):not(.second-bar) {
    background-color: #fafafa;
    border: thin solid #f3f3f3;
}

/* END OF SIGNAL STRENGTH INDICATOR */

/* START OF CONTROL BUTTON */

.control-btn {
    height: 36px;
    width: 36px;
    padding: 0px;
}